<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<link rel="stylesheet" href="/stylesheets/sign/sign.css">

	<script>
		var now_img, next_img;

		function fade_change() {
			now_img = $(".fade_container img:eq(0)");
			next_img = $(".fade_container img:eq(1)");
			next_img.addClass("active").css("opacity", 0).animate({
				"opacity": 1
			}, 6000, function() {
				$(".fade_container").append(now_img);
				now_img.removeClass("active");
			});
		}

		var timer = setInterval("fade_change()", 5000);
		
		
		function next(){
			$("#next").css("visibility","hidden");
			$("#prev").css("visibility","visible");
			
			$("#firstInfo").css("display", "none");
			$("#secondInfo").css("display", "inline");
		}
		
		function prev(){
			
			$("#next").css("visibility","visible");
			$("#prev").css("visibility","hidden");
			
			$("#firstInfo").css("display", "inline");
			$("#secondInfo").css("display", "none");
		}
	</script>

</head>

<body>

	<div id="wrap">
		<div class="fade_container">
			<img class="active" src="/images/sign/apple.jpg" alt="image1" />
			<img src="/images/sign/beach.jpg" alt="image2" />
			<img src="/images/sign/forest.jpg" alt="img3" />
			<img src="/images/sign/mandarinOrange.jpg" alt="img4" />
			<img src="/images/sign/peach.jpg" alt="img5" />
			<img src="/images/sign/strawberry.jpg" alt="">
		</div>
	</div>
	
	<div id="signBox">
	
		<div id="imgBox"></div>
		<div id="infoBox">
			<div id="header">
				<h1>Sadagu</h1>
				<ul id="sosicalIcon">
					<li>
						<a href="#">
							<img src="/images/sign/google.png" alt="">
							<span class="socialText google">Google+</span>
						</a>
						
					</li>
					
					<li>
						<a href="#">
							<img src="/images/sign/kakaotalk.png" alt="">
							<span class="socialText kakaoTalk">KakaoTalk</span>
						</a>
					</li>
					
					<li>
						<a href="#">
							<img src="/images/sign/facebook.png" alt="">
							<span class="socialText facebook">Facebook</span>
						</a>
					
					</li>
				</ul>
			</div>
				<div id="border">
					<form action="/users/save" method="post" id="sendInfo">
						<div id="firstInfo">
							<div>
								<input class="form-controll" type="text" placeholder="User Name" name="name">
							</div>
							<div>
								<input class="form-controll" type="text" placeholder="User Id" name="id">
							</div>
							<div>
								<input class="form-controll" type="password" placeholder="User Password" name="password">
							</div>
							<div>
								<input class="form-controll" type="text" placeholder="Email" name="eMail">
							</div>
						</div>
						
						<div id="secondInfo">
							<div>
								<input class="form-controll" type="text" placeholder="User Birth" name="birth">
							</div>
							<div>
								<input class="form-controll" type="text" placeholder="User PhoneNum" name="phoneNum">
							</div>
							<div>
								<input class="form-controll" type="text" placeholder="User Account" name="account">
							</div>
							<div>
								<input class="form-controll" type="text" placeholder="Address" name="address">
							</div>
						</div>
						<span id="prev" onclick="prev()">&#60; Prev</span>
						<span id="next" onclick="next()">Next &#62; </span>
						
						<div class="put_custom_wrap">
							<input type="checkbox" id="cxBox">
							<label for="cxBox">I agree to the terms of service</label>
							
						</div>

						<div class="button-container-1">
						  <span class="mas">Register</span>
						  <button id='work' type="submit" name="Hover" type="">Register</button>
					    </div>
					</form>
			</div>
			<div id="footer">
				Have you an account?   <a href="/users/login">Log in</a>
			</div>
		</div>
	</div>
	

</body>
</html>
