<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<form action="/users/info" method="post">
		<input type="text" placeholder="이름" name="name">
		<input type="text" placeholder="생년월일" name="birth">
		<input type="text" placeholder="전화번호" name="phoneNum">
		<input type="text" placeholder="이메일" name="eMail">
		
		<input type="submit">
	</form>
</body>

</html>
