<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p><%= write.name %></p>
	<p><%= write.minPrice %></p>
	<p><%= write.maxPrice %></p>
	
	
	<form action="#" method="post">
		<input type="text">
		<input type="submit" value="확인">
	</form>
</body>
</html>