!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<form action="/users/test2" enctype="multipart/form-data" method="post">

		<input type="file" name="img" />
		<button type="submit">업로드</button>

	</form>
</body>

</html>
