<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>

<body>
	<form action="/users/writer/submit" enctype="multipart/form-data" method="post">

		<input type="file" name="img" />
		
		<input type="text" name="minPrice" placeholder="minPrice">
		<input type="text" name="unit" placeholder="unit">
		<input type="text" name="maxTime" placeholder="maxTime">
		<input type="text" name="explain" placeholder="explain">
		<input type="text" name="origin" placeholder="origin">
		<input type="text" name="count" placeholder="count">
		<input type="text" name="name" placeholder="name">
		<input type="text" name="deliverWay" placeholder="deliverWay">
		<input type="text" name="deliverPrice" placeholder="deliverPrice">
		<input type="text" name="bingingWay" placeholder="bingingWay">

		<input type="submit">
		
	</form>
	
</body>

</html>
